adfactorydagc/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfactorydagc"
		},
		"adfactoryls_abs_data_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'adfactoryls_abs_data'"
		},
		"adls_dagc_proyecto_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'adls_dagc_proyecto'"
		},
		"adfactory_ls_sqldb_dagc_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'adfactory_ls_sqldb_dagc'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=sql-ds-dagc.database.windows.net;Initial Catalog=AdventureWorksLT_dagc;User ID=diana.gutierrez"
		},
		"adfactorylsdagc_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'adfactorylsdagc'"
		},
		"adls_dagc_proyecto_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsproyectdagc.dfs.core.windows.net/"
		},
		"akv_dagc_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kv-dagc-proyectofinal.vault.azure.net/"
		},
		"adfactorylsdagc_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "\\\\DESKTOP-C2OF8BL\\Azure"
		},
		"adfactorylsdagc_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "dagutierrez1190@outlook.com"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/adfactoryls_abs_data')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection to Azure Blob Storage",
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('adfactoryls_abs_data_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/adls_dagc_proyecto')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service a la carpeta RAW del storage",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('adls_dagc_proyecto_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('adls_dagc_proyecto_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/akv_dagc')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Boveda de claves para proyectos",
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('akv_dagc_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1dagc')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "para proyecto",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/adfactory_dagc_finalparquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Archivo Parquet con la union de las 2 fuentes",
				"linkedServiceName": {
					"referenceName": "adls_dagc_proyecto",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "processed"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adls_dagc_proyecto')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adfactory_ds_dagc_Customer_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adls_dagc_proyecto",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "data_e6ed1285-77f6-4728-864d-d1ecf088ccc9_d42c2bf8-1f9e-4114-a2af-ebc7eb364d69.parquet",
						"fileSystem": "raw"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "CustomerID",
						"type": "INT32"
					},
					{
						"name": "NameStyle",
						"type": "BOOLEAN"
					},
					{
						"name": "Title",
						"type": "UTF8"
					},
					{
						"name": "FirstName",
						"type": "UTF8"
					},
					{
						"name": "MiddleName",
						"type": "UTF8"
					},
					{
						"name": "LastName",
						"type": "UTF8"
					},
					{
						"name": "Suffix",
						"type": "UTF8"
					},
					{
						"name": "CompanyName",
						"type": "UTF8"
					},
					{
						"name": "SalesPerson",
						"type": "UTF8"
					},
					{
						"name": "EmailAddress",
						"type": "UTF8"
					},
					{
						"name": "Phone",
						"type": "UTF8"
					},
					{
						"name": "PasswordHash",
						"type": "UTF8"
					},
					{
						"name": "PasswordSalt",
						"type": "UTF8"
					},
					{
						"name": "rowguid",
						"type": "UTF8"
					},
					{
						"name": "ModifiedDate",
						"type": "INT96"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adls_dagc_proyecto')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adfactory_ds_dagc_myparquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adls_dagc_proyecto",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "dp-bde-proyectofinal"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "raw"
					},
					"compressionCodec": "none"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adls_dagc_proyecto')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adfactory_ds_data_dagc_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adfactoryls_abs_data",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "dp-bde-proyectofinal"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "myFile.csv",
						"container": "data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "firstname",
						"type": "String"
					},
					{
						"name": "lastname",
						"type": "String"
					},
					{
						"name": "email",
						"type": "String"
					},
					{
						"name": "email2",
						"type": "String"
					},
					{
						"name": "profession",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adfactoryls_abs_data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adfactory_ls_sqldb_dagc')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service to SQL database",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('adfactory_ls_sqldb_dagc_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "akv_dagc",
							"type": "LinkedServiceReference"
						},
						"secretName": "kvs-dagc-dianagutierrez-user-sqldb"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/akv_dagc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adfactorylsdagc')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "para el csv",
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('adfactorylsdagc_properties_typeProperties_host')]",
					"userId": "[parameters('adfactorylsdagc_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('adfactorylsdagc_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime1dagc",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime1dagc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adfactory_ds_sqldb_dagc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adfactory_ls_sqldb_dagc",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "dp-bde-proyectofinal"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ProductID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "ProductNumber",
						"type": "nvarchar"
					},
					{
						"name": "Color",
						"type": "nvarchar"
					},
					{
						"name": "StandardCost",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "ListPrice",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "Size",
						"type": "nvarchar"
					},
					{
						"name": "Weight",
						"type": "decimal",
						"precision": 8,
						"scale": 2
					},
					{
						"name": "ProductCategoryID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProductModelID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SellStartDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "SellEndDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DiscontinuedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ThumbNailPhoto",
						"type": "varbinary"
					},
					{
						"name": "ThumbnailPhotoFileName",
						"type": "nvarchar"
					},
					{
						"name": "rowguid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "SalesLT",
					"table": "Customer"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adfactory_ls_sqldb_dagc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adfactory_df_dagc')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Dataflow de transformación",
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "adfactory_ds_data_dagc_csv",
								"type": "DatasetReference"
							},
							"name": "adfactorydfs1csv"
						},
						{
							"dataset": {
								"referenceName": "adfactory_ds_dagc_Customer_parquet",
								"type": "DatasetReference"
							},
							"name": "adfactorydfs2custparquet"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "adfactory_dagc_finalparquet",
								"type": "DatasetReference"
							},
							"name": "LoadtoADL",
							"rejectedDataLinkedService": {
								"referenceName": "adls_dagc_proyecto",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "selectCSV"
						},
						{
							"name": "selectParquetfile"
						},
						{
							"name": "UnionBothSources"
						},
						{
							"name": "addCustomerIDstr"
						},
						{
							"name": "selectParquetfile2"
						}
					],
					"scriptLines": [
						"source(output(",
						"          id as string,",
						"          firstname as string,",
						"          lastname as string,",
						"          email as string,",
						"          email2 as string,",
						"          profession as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> adfactorydfs1csv",
						"source(output(",
						"          CustomerID as integer,",
						"          NameStyle as boolean,",
						"          Title as string,",
						"          FirstName as string,",
						"          MiddleName as string,",
						"          LastName as string,",
						"          Suffix as string,",
						"          CompanyName as string,",
						"          SalesPerson as string,",
						"          EmailAddress as string,",
						"          Phone as string,",
						"          PasswordHash as string,",
						"          PasswordSalt as string,",
						"          rowguid as string,",
						"          ModifiedDate as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> adfactorydfs2custparquet",
						"adfactorydfs1csv select(mapColumn(",
						"          CustomerID_str = id,",
						"          FirstName = firstname,",
						"          LastName = lastname,",
						"          EmailAddress = email",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectCSV",
						"adfactorydfs2custparquet select(mapColumn(",
						"          CustomerID,",
						"          FirstName,",
						"          LastName,",
						"          EmailAddress",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectParquetfile",
						"selectCSV, selectParquetfile2 union(byName: true)~> UnionBothSources",
						"selectParquetfile derive(CustomerID_str = toString(CustomerID)) ~> addCustomerIDstr",
						"addCustomerIDstr select(mapColumn(",
						"          CustomerID_str,",
						"          FirstName,",
						"          LastName,",
						"          EmailAddress",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectParquetfile2",
						"UnionBothSources sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     umask: 0222,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> LoadtoADL"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/adfactory_ds_data_dagc_csv')]",
				"[concat(variables('factoryId'), '/datasets/adfactory_ds_dagc_Customer_parquet')]",
				"[concat(variables('factoryId'), '/datasets/adfactory_dagc_finalparquet')]",
				"[concat(variables('factoryId'), '/linkedServices/adls_dagc_proyecto')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adfactorypl1dagc')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Ingresar datos al Data Lake",
				"activities": [
					{
						"name": "Copiar datos CSV",
						"description": "Copy profile info and ingest it into data lake",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "adfactory_ds_data_dagc_csv",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "adfactory_ds_dagc_myparquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copiar datos SQL ADB",
						"description": "Copiar datos de Tabla de SQL Azure database",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.10:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "adfactory_ds_sqldb_dagc",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "adfactory_ds_dagc_Customer_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Unir datos",
						"description": "Consolida datos del CSV con los clientes de la tabla leida de la BD",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copiar datos CSV",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copiar datos SQL ADB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.10:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "adfactory_df_dagc",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"adfactorydfs1csv": {},
									"adfactorydfs2custparquet": {},
									"LoadtoADL": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/adfactory_ds_data_dagc_csv')]",
				"[concat(variables('factoryId'), '/datasets/adfactory_ds_dagc_myparquet')]",
				"[concat(variables('factoryId'), '/datasets/adfactory_ds_sqldb_dagc')]",
				"[concat(variables('factoryId'), '/datasets/adfactory_ds_dagc_Customer_parquet')]",
				"[concat(variables('factoryId'), '/dataflows/adfactory_df_dagc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adfactory_triggger_dagc_myetl')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Desencadenador de mi pipeline",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "adfactorypl1dagc",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 8,
						"startTime": "2023-08-27T22:20:00Z",
						"endTime": "2023-08-28T22:15:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/adfactorypl1dagc')]"
			]
		}
	]
}